/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERAL*/
body{
    font-family: "Montserrat", sans-serif;
    color: #fff; 
}

/*BODY*/
/*header*/
.row{
    display: flex;
}
.nav-left{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: calc(100vh - 90px);
    overflow-y: auto;
    padding-left: 20px;
    background-color: black;
}

/*main*/
.nav-right{
    width: 100%;
    height: calc(100vh - 90px);
    overflow-y: auto;
    background-color: #141922;
}

/*footer*/
footer{
    height: 90px;
    background-color: #282828;
}