/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERAL*/
body{
    font-family: "Montserrat", sans-serif;
    color: #fff; 
}

/*BUTTONS*/
.btn-upgrade{
    padding: 10px 30px;
    border-color: #fff;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

/*HOVER*/
.btn-upgrade:hover{
    font-size: 15px;
}
.song-bar a:hover{
    color: #fff;
}

.footer-left-title h4 a:hover{
    color: #fff;
    text-decoration: underline;
}
.footer-left-btn i:hover{
    color: #fff;
}

/*BODY*/
/*header*/
.row{
    display: flex;
}
.nav-left{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: calc(100vh - 90px);
    overflow-y: auto;
    padding-left: 20px;
    background-color: black;
}

/*main*/
.nav-right-head{
    height: 80px;
    padding: 20px 15px;
    display: flex;
    justify-content: flex-end;
    background-color: #080b12;
    position: sticky;
    top: 0;
    z-index: 1;

}
.nav-right{
    width: 100%;
    height: calc(100vh - 90px);
    overflow-y: auto;
    background-color: #141922;
}
.song-bar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.song-bar li{
    padding: 15px;
}
.song-bar a{
    color: #7d7f84;
    text-decoration: none;
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #282828;
  }
  .footer-left{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .footer-left img{
    width: 70px;
    height: 70px;
  }
  .footer-left-title{
    padding-left: 15px;
  }
  .footer-left-title h3{
    font-size: 15px;
    font-weight: 700;
  }
  .footer-left-title h4 a{
    font-size: 10px;
    color: #7d7f84;
    text-decoration: none;
  }
  .footer-left-btn{
    padding-left: 30px;
    color: #7d7f84;
  }
  .footer-left-btn i{
    padding: 5px;
  }

  .footer-right{
    padding-right: 20px;
  }